@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

:root {

    --main-color: #131921;





}











*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Kanit', sans-serif;



}
/* ---- Header settings are here -------- */


/* left  */
.light > .space0{
    width: 100%;
    height: 40px;
    background: #232f3e;
    display: flex;
    align-items: center;
    justify-content: center;
}
.light .space0 i{
    color: orangered;
    font-weight: 550;
}
.space0 span{
    color: white;
    font-weight: 600;
}

header{
    width: 100%;
    height: 100px;
    padding: 20px;
    border-bottom: 1px solid black;
    background: #131921;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left{
    width: 300px;
    height: 100px;
    padding:   0px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.header-left a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.header-left a img{
    width: 50%;
    height: 90%;
}




/* middle */
.header-middle{
    width: 600px;
    height: 100px;
    padding-left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-middle a{
    font-size: 20px;
    font-weight: 600;
    color: white;
    width: 100%;
    height: 100px;
    padding: 30px 60px;
    transition: 0.3s ease;
}
.header-middle > .sales{
    color: red;
}
.header-middle a:hover{
    color: orangered;
    border: 1px solid white;
}
.header-middle .active{
    color: orangered;
}
.header-middle button{
    display: none;
}



/* right */
.header-right{
    width: 400px;
    height: 100px;
    padding: 30px 30px 30px 200px;
    display: flex;
    align-items: center;

}
.header-right img{
    display: none;
}

/* --------------------------------------- */

::-webkit-scrollbar{
    display: none;
}

/* slide settings */

.space{
    width: 100%;
    height: 15px;
    background-color: #232f3e;
    margin-bottom: 5px;
}

nav{
    width: 100%;
    height: 500px;
    padding: 30px 200px;
    margin-bottom: 50px;
}
.slide{
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.slide .info{
    width: 1400px;
    height: 100%;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 15px;
    background: #232f3e;
    box-shadow: inset 4px 4px 20px black,
    inset -4px -4px 20px black;
    
}

.slide .images{
    width: 1000px;
    height: 100%;
}
.slide .images img{
    height: 100%;
    width: 100%;
}

/* .arrows{
    font-size: 45px;
    position: absolute;
    z-index: 5;
    width: 80%;
    height: 400px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
} */
.info h2{
    color: white;
    font-size: 48px;
    width: 90%;
    height: 40%;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    background: orangered;
    text-align: center;
}
.info p{
    color: white;
    padding: 20px 50px;
    border-radius: 30px;
    width: 100%;
    height: 30%;
    background-color: #131921;
}
.info a{
    font-weight: 600;
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: orangered;
}

/* ------------------------------------------- */


/* section settings */
.light{
    background: linear-gradient(90deg, 40% gray, 60% white);
}

section{
    width: 100%;
    height: fit-content;
    /* background-color: gray; */
    padding: 50px 100px;
    margin-top: 30px;
    text-align: center;
}
section #mainMenu{
    color: orangered;
    font-size: 35px;
    font-weight: 900;
    width: 100%;
    height: 100px;
}
.grid{
    display: grid;
    grid-template-columns: 220px 220px 220px;
    grid-template-rows: 290px 290px;
    justify-content: center;
    row-gap:120px;
    column-gap: 120px;
    width: 100%;
    height: 100%;
}
.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; }
.div4 { grid-area: 2 / 1 / 3 / 2; }
.div5 { grid-area: 2 / 2 / 3 / 3; }
.div6 { grid-area: 2 / 3 / 3 / 4; }

.div1{
    width: 240px;
    height: 240px;
    text-align: center;
    transition: 0.3s ease-in-out;
    background: #232f3e;
    border-radius: 50%;
}
.div1:hover{
    color: orangered;
    width: 250px;
    height: 250px;
    background-color: orangered;
}
.div1 img{
    width: 100%;
    height: 100%;
    padding: 50px;
}

.div2{
    text-align: center;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background: #232f3e;
    transition: 0.3s ease-in-out;
}
.div2:hover{
    color: orangered;
    width: 250px;
    height: 250px;
    background-color: orangered;
}
.div2 img{
    width: 100%;
    height: 100%;
    padding: 50px;
}

.div3{
    width: 240px;
    height: 240px;
    text-align: center;
    transition: 0.3s ease-in-out;
    border-radius: 50%;
    background: #232f3e;
}
.div3:hover{
    color: orangered;
    width: 250px;
    height: 250px;
    background-color: orangered;
}
.div3 img{
    width: 100%;
    height: 100%;
    padding: 50px;
}

.div4{
    width: 240px;
    height: 240px;
    text-align: center;
    padding: 0 30px;
    transition: 0.3s ease-in-out;
    border-radius: 50%;
    background-color: #232f3e;
}
.div4:hover{
    color: orangered;
    width: 250px;
    height: 250px;
    background-color: orangered;
}
.div4 img{
    width: 100%;
    height: 100%;
    padding: 40px;
}


.div5{
    width: 240px;
    height: 240px;
    text-align: center;
    transition: 0.3s ease-in-out;
    border-radius: 50%;
    background: #232f3e;
}
.div5:hover{
    color: orangered;
    width: 250px;
    height: 250px;
    background-color: orangered;
}
.div5 img{
    width: 100%;
    height: 100%;
    padding: 50px;
}


.div6{
    width: 240px;
    height: 240px;
    text-align: center;
    transition: 0.3s ease-in-out;
    border-radius: 50%;
    background: #232f3e;
}
.div6:hover{
    color: orangered;
    width: 250px;
    height: 250px;
    background-color: orangered;
}
.div6 img{
    width: 100%;
    height: 100%;
    padding: 50px;
}

section div a{
    color: black;
    font-size: 14px;
    transition: 0.3s ease-in-out;
}
section div a:hover{
    color: orangered;
}



/* ------------------------------------------ */


/* footer settings */
footer{
    width: 100%;
    height: 200px;
    background: #131921;
}


/* -------------------------------------------- */

@media only screen and (max-width:1350px) {
    header .header-left{
        justify-content: center;
    }
    
    .header-middle{
        display: none;
    }
    .header-middle button{
        display: block;
    }
    .header-middle a{
        padding: 30px ;
    }

    .header-middle{
        width: 200px;
        height: 690px;
        padding: 45px 30px;
        top: 0px;
        right: 0px;
        gap: 50px;
        position: absolute;
        display: none;
        flex-direction: column;
        background: #232f3e;
    }
    .header-middle button{
        color: orangered;
        font-weight: 300;
        background: transparent;
        width: 50px;
        border-radius: 10px;
        position: absolute;
        top: 15px;
        right: 15px;
    }

    .header-right{
        width: 3%;
        padding: 0;
    }

    .info{
        width: 100%;
    }
    .images{
        display: none;
    }
@media only screen and (max-width:960px) {

    }
    .header-left{
        width: 100%;
        padding: 0;
    }
    .header-left a{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header-left a img{
        width: 100px;
    }

    .header-right{
        justify-content: flex-end;
    }
    .header-right img{
        width: 25px;
        height: 25px;
        display: inline-block;
    }

    /* .smallbar a{
        color: white;
        font-size: 18px;
        font-weight: 500;
    } */

    /* header ends here */

    nav{
        padding: 30px 20px;
    }
    .slide{
        width: 100%;
    }
    
    /* ------------------------- */

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 300px);
        grid-template-rows: repeat(3, 250px);
        grid-column-gap: 30px;
        grid-row-gap: 50px;
        }
        
        .div1 { grid-area: 1 / 1 / 2 / 2; }
        .div2 { grid-area: 1 / 2 / 2 / 3; }
        .div3 { grid-area: 2 / 1 / 3 / 2; }
        .div4 { grid-area: 2 / 2 / 3 / 3; }
        .div5 { grid-area: 3 / 1 / 4 / 2; }
        .div6 { grid-area: 3 / 2 / 4 / 3; }
}
@media only screen and (max-width:630px) {
    
    
    
    nav{
        padding: 30px 0;
    }

    .slide .info{
        width: fit-content;
        padding: 20px;
    }
    .info h2{
        font-size: 30px;
        width: fit-content;
        height: fit-content;
    }


    .info p{
        height: fit-content;
    }

    section #mainMenu{
        font-size: 24px;
    }

    .grid {
        padding-left: 55px;
        display: grid;
        grid-template-columns: 300px;
        grid-template-rows: repeat(6, 300px);
        }
        
        .div1 { grid-area: 1 / 1 / 2 / 2; }
        .div2 { grid-area: 2 / 1 / 3 / 2; }
        .div3 { grid-area: 3 / 1 / 4 / 2; }
        .div4 { grid-area: 4 / 1 / 5 / 2; }
        .div5 { grid-area: 5 / 1 / 6 / 2; }
        .div6 { grid-area: 6 / 1 / 7 / 2; }
}